@import "tailwindcss";

body {
    background: #fffefc;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

@utility container {

    width: 100%;
    padding-inline: 20px;
    margin: 0 auto;

    @variant sm {
        width: 100%;
        padding-inline: 15px;
    }

    @variant lg {
        padding-inline: 0px;
    }

    @variant xl {
        width: 1180px;
    }

    @variant 2xl {
        width: 100%;
    }
}

nav{
    @apply py-5 w-full duration-200 absolute
}

@utility navButtons {
    @apply px-[27px] py-[15px] rounded-3xl hover:bg-[#F9C06A] hover:text-[#1E1E1E] cursor-pointer duration-200 font-medium text-lg text-[#fff]
}

@utility navItems {
    @apply flex items-center gap-15 font-medium text-lg text-[#fff]
}

.navItems li{
    @apply relative;

    &:hover::before{
        width: 100%;
    }
}

.navItems li::before{
    @apply content-[""] w-0 h-[2px] bg-[#fff] absolute left-0 bottom-0 duration-200
}

@utility bannerSection {
    @apply bg-[url("/images/banner_bg.png")] bg-cover bg-center bg-fixed h-[100vh]
}

@utility discoverSection{
    @apply py-[82px] bg-fixed relative
}

@utility discoverInfo{
    @apply w-[602px]
}

.discoverInfo h2{
    @apply mt-[68px] mb-[29px] font-bold text-[54px] text-[#603809]
}

.discoverInfo p{
    @apply mb-10 font-normal text-2xl text-[#707070] leading-[34px]
}

.manuSectionHead p{
    @apply mt-4 mb-8 font-normal text-2xl text-[#707070] leading-[34px] text-center
}

@utility menuRow{
    @apply flex justify-center items-center gap-5
}

.aboutHead p{
    @apply mt-4 mb-8 font-normal text-2xl text-[#707070] leading-[34px] text-center
}

@utility aboutSectionRow{
    @apply flex items-center justify-center gap-5 flex-wrap xl:flex-nowrap
}

.aboutSectionEnd p{
    @apply mt-8 mb-4 font-normal text-2xl text-[#707070] leading-[34px] text-center
}

@utility chanceSection{
    @apply w-full py-[135px] bg-[url("/images/Order_bg.png")] bg-center bg-cover bg-no-repeat bg-fixed overflow-hidden relative
}

@utility chanceSectionRow{
    @apply flex items-center justify-between
}

@utility feedbackSection{
    @apply pt-[82px] py-[164px] relative
}

.feedbackHead p{
    @apply mt-4 mb-[45px] font-normal text-2xl text-[#707070] leading-[34px] text-center
}

@utility subcribeSection{
    @apply py-20 bg-[url("/images/Subscribe_bg.png")] bg-cover bg-center bg-no-repeat bg-fixed relative overflow-hidden
}

footer{
    @apply pt-[300px] h-[70vh] bg-[url("/images/footer_bg.png")] bg-cover bg-no-repeat bg-fixed text-[#fff] overflow-hidden
}

.footerItems li{
    @apply font-normal text-lg leading-[42px]
}